assembly/spades_test
normalization/ecoli_*
rmhost/ref
rmhost/cluster_logs

*/.ipynb_checkpoints/
.ipynb_checkpoints/
*.sam
*.soap
*.soap.se
*.soap.pe
*.bam
*.bam.[0-9]
*.bam.bai
*.sorted.bam
*.sorted.bam.bai
*.bam.sorted
*.bam.sorted.bai
*.fq.gz
*.fa.gz
*.fasta

*/logs/*
*log.e
*log.o
*.snakemake*

# temp
alignment/blast/
alignment/bowtie2/
assembly/
binning/
checkm/
classification/
clustering/
distance/sourmash/
profiling/
quality_control/fastqc/
rmhost/se/
seqprocess/
simulation/mason/